.upload-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 70%;
    color:rgb(190, 190, 190);
    border: 5px dashed rgb(190, 190, 190);
    border-radius: 10px;
}