.modal-nav-login-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
}
.modal-nav-list-item {
  margin-bottom: 30px;
  & .nav-list-link {
    color: rgb(190, 190, 190);
    font-size: 20px;
  }
  & .button-login-register {
    padding: 10px 15px;
    font-size: 20px;
    color: rgb(190, 190, 190);
  }
}
