.gallery-menu {
  scrollbar-width: none;
  display: none;
  pointer-events: none;
  @media screen and (min-width: $breakpoint-mobile) {
    display: block;
    position: absolute;
    width: 180px;
    height: 94vh;
    overflow-y: auto;
    margin-right: 10px;
    padding: 20px 15px;
    background-image: linear-gradient(
      to right,
      var(--main-background-color),
      transparent
    );
    opacity: 0;
    transition: opacity 250ms linear, left 250ms linear 250ms;
    z-index: 10;
  }

  &::-webkit-scrollbar {
    width: 0;
  }

  &.isOpen {
    pointer-events: all;
    opacity: 1;
  }

  &-list {
    list-style: none;
    padding: 15px;
  }

  &-item {
    position: relative;
  }

  &-item:not(:last-child) {
    margin-bottom: 30px;
  }

  &-item:not(:last-child)::after {
    content: '';
    position: absolute;
    display: block;
    left: 50%;
    height: 30px;
    width: 1px;
    background-color: $main-text-color;
    z-index: -1;
  }

  &-thumb {
    @include border-shadow();

    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: border-color 250ms linear, transform 250ms linear;
  }

  &-thumb:hover {
    border-color: $color-accent;
    transform: scale(1.1);
  }
}


.menu-cat-button {
  display: block;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  text-align: center;
  color: $main-text-color;
  background-image: linear-gradient(
    to left,
    $main-background-color,
    $color-border-main
  );
  cursor: pointer;
  border: none;
}


.menu-item-wrap {
  height: 0;
  transform-origin: top;
  overflow: hidden;  
  scrollbar-width: none;
  transition: height 250ms linear;

  &.isOpen {
    height: 100%;
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}
