.gallery-page {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
  overflow-y: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  @media screen and (min-width: $breakpoint-desktop) {
    justify-content: flex-start;
  }

  &-wrap {
    @include border-shadow(0px, 0px);
    position: relative;
    flex-grow: 1;
    width: 250px;
    height: 250px;
    max-width: 100%;
    margin: 2px;
    overflow: hidden;
    cursor: pointer;

    &:hover .gallery-page-text {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &-img {
    width: 100%;
    min-width: 250px;
    height: auto;
  }

  &-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 5px 20px;
    color: rgb(190, 190, 190);
    background-color: rgba(22, 22, 22, 0.6);
    opacity: 0;
    transform: translateY(20px);
    transition: transform 250ms linear, opacity 250ms linear;
  }

  &-header {
    text-align: center;
    font-size: 20px;

    &::after {
      content: '';
      display: block;
      margin: auto;
      height: 15px;
      width: 50px;
      background-image: url('../img/tilde.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  &-paragraph {
    text-indent: 1em;
    font-size: 15px;
    margin-bottom: 5px;
  }
}
