.gallery-menu {
  display: none;
  @media screen and (min-width: $breakpoint-mobile) {
    display: block;
    flex-shrink: 0;
    overflow-y: auto;
    margin-right: 10px;
    padding: 20px 15px;
  }

  &-list {
    list-style: none;
    padding: 15px;
  }

  &-item {
    position: relative;
    margin-bottom: 30px;
  }

  &-item:not(:last-child)::after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    height: 30px;
    width: 1px;
    background-color: $main-text-color;
    z-index: -1;
  }

  &-thumb {
    @include border-shadow();

    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    transition: border-color 250ms linear, transform 250ms linear;
  }

  &-thumb:hover {
    border-color: $color-accent;
    transform: scale(1.1);
  }
}
.menu-item-label {
  display: block;
  padding: 5px;
  margin-bottom: 10px;
  background-color: $color-border-main;
}
.menu-item-checkbox {
  visibility: hidden;
}
.menu-item-wrap {
  height: 0%;
  transform-origin: top;
  overflow: hidden;
  transition: height 250ms linear;

  .menu-item-checkbox:checked + & {
    height: 100%;
  }
}
