/*#################### HEADER #########################*/
.section-header {
  position: relative;
  @include header-footer(0, initial);
}
.nav {
  display: flex;
  justify-content: space-between;
  @media screen and (min-width: $breakpoint-mobile) {
    justify-content: space-around;
  }
  align-items: center;
  margin-left: 25px;
  margin-right: 25px;
}
.slide-button {
  @include border-shadow;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-text-color;
  border-radius: 50%;
  transition: color 250ms linear, border-color 250ms linear;
  z-index: 10;
  &:hover,
  &:focus {
    color: $color-accent;
    border-color: $color-accent;
    outline: none;
  }
  & svg {
    fill: currentColor;
  }
}
.logo {
  white-space: nowrap;
  font-weight: 700;
  font-size: 20px;
}
.nav-login-list {
  display: flex;
  list-style: none;
  align-items: center;
  @media screen and (max-width: $breakpoint-mobile - 1px) {
    display: none;
    &.is-open {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: $main-background-color;
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 0px 7px 6px -5px black;
      z-index: 10;
    }
  }
  @media screen and (min-width: $breakpoint-mobile) {
    position: static;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
  }
}
.nav-list-item {
  @media screen and (min-width: 0) and (max-width: $breakpoint-mobile - 1px) {
    margin-bottom: 10px;
  }
}
.nav-list-link {
  position: relative;
  display: block;
  padding: 10px 0px;
  font-size: 16px;
  font-weight: 400;

  &::after {
    content: "";
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: $color-accent;
    opacity: 0;
    transition: opacity 250ms linear;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}
.button-login-register {
  display: block;
  @include border-shadow();
  font-size: 14px;
  background-color: transparent;
  padding: 3px 10px;
  color: $main-text-color;
  transition: color 250ms linear, border-color 250ms linear;

  &:hover,
  &:focus {
    color: $color-accent;
    border-color: $color-accent;
  }
}
.header-menu-button {
  display: block;
  border: none;
  @media screen and (min-width: $breakpoint-mobile) {
    display: none;
  }
  background-color: transparent;

  & svg {
    fill: $main-text-color;
  }
}
.header-menu-button .menu-close {
  display: none;
}
.header-menu-button.is-open .menu-close {
  display: block;
}
.header-menu-button.is-open .menu-icon {
  display: none;
}
