/*#################### HEADER #########################*/
.section-header {
  display: flex;
  align-items: center;
  padding: 10px;
  @include header-footer(0, initial);
}
.nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  @media screen and (min-width: $breakpoint-mobile) {
    justify-content: space-around;
  }
  align-items: center;
}
.logo {
  display: none;
  @media screen and (min-width: $breakpoint-mobile) {
    display: block;
    white-space: nowrap;
    font-weight: 700;
    font-size: 20px;
  }
}
.nav-list-link {
  position: relative;
  display: block;
  padding: 10px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;

  &::after {
    content: '';
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: $color-accent;
    opacity: 0;
    transition: opacity 250ms linear;
  }

  &:hover::after,
  &:focus::after {
    opacity: 1;
  }
}

.search-input {
  @media screen and(max-width: $breakpoint-mobile) {
    width: 100%;
  }
  @include border-shadow;
  width: 50%;
  padding: 5px;
  font-size: 24px;
  color: $main-text-color;
  transition: color 250ms linear, border-color 250ms linear;
  &:focus {
    border-color: $color-accent;
    outline: none;
  }
}

.button-upload,
.button-login-register {
  display: none;
  @media screen and (min-width: $breakpoint-mobile) {
    display: block;
  }
}

.header-menu-button {
  position: relative;
  display: block;
  border: none;
  box-shadow: none;
  @media screen and (min-width: $breakpoint-mobile) {
    display: none;
  }
  background-color: transparent;
  cursor: pointer;

  & svg {
    fill: $main-text-color;
    pointer-events: none;
  }
}
.header-menu-button .menu-close {
  display: none;
}
.header-menu-button.is-open .menu-close {
  display: block;
}
.header-menu-button.is-open .menu-icon {
  display: none;
}
