.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.light-theme {
    --main-background-color: rgb(219, 219, 219);
    --main-text-color: rgb(65, 65, 65);
    transition: background-color 250ms linear, color 250ms linear;
}
