$main-background-color: rgb(49, 51, 53);
$main-text-color: rgb(190, 190, 190);
$color-accent: rgb(240, 117, 35);
$color-border-main: rgba(77, 81, 85, 0.46);
$breakpoint-desktop: 1200px;
$breakpoint-tablet: 800px;
$breakpoint-mobile: 600px;

