.modal-nav-login-list {
  display: flex;
  list-style: none;
  flex-direction: column;
  justify-content: center;
}
.modal-nav-list-item {
  margin-bottom: 30px;
  & .nav-list-link {
    color: rgb(190, 190, 190);
    font-size: 20px;
  }
}
.modal-button-login-register {
  padding: 10px 15px;
  font-size: 20px;
  color: rgb(190, 190, 190);
}

.image-nav-arrow {
  display: none;
  border: none;
  background-color: transparent;
  color: rgb(190, 190, 190);
  transition: color 250ms linear;
  @media screen and (min-width: $breakpoint-mobile) {
    display: block;
  }
  & svg {
    fill: currentColor;
    height: 60px;
    width: 90px;
  }
  &:hover,
  &:focus {
    color: var(--color-accent);
  }
}

.mobile-image-nav {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  @media screen and (min-width: $breakpoint-mobile) {
    display: none;
  }
  & .image-nav-arrow {
    display: block;
  }
}
