
.modal-auth-form {
  position: relative;
  @include border-shadow;
  padding: 10px;
  background-color: $main-background-color;
  width: 100%;
  max-width: 450px;

  & h2 {
    text-align: center;
    margin-bottom: 20px;
  }
}
.label-authorisation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  @media screen and (max-width: 400px) {
    flex-direction: column;
  }
  margin-bottom: 20px;
  color: $color-accent;
}
 .label-authorisation-input {
    @include border-shadow;
    @media screen and (max-width: 400px) {
      margin-top: 10px;
    }
    height: 30px;
    width: 100%;
    max-width: 280px;
    padding: 5px;
    color: $main-text-color;
    transition: color 250ms linear, border-color 250ms linear;
    &:focus {
      border-color: $color-accent;
      outline: none;
    }
  
}
.modal-auth-form-button {
  @include border-shadow;
  display: block;
  margin: auto;
  color: $main-text-color;
  padding: 5px 10px;
  text-align: center;
  transition: color 250ms linear, border-color 250ms linear;

  &:hover,
  &:focus {
    color: $color-accent;
    border-color: $color-accent;
  }
}
